<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>

    <div class="w-full h-screen bg-zinc-900">

      <form class="w-[400px] p-3 pt-10 flex-col flex gap-5" method="post" action="/create">

        <h1 class="text-3xl text-white">Login</h1>


        <input class="bg-zinc-700 p-2 h-10 rounded-md  text-white " type="text" placeholder="username" name="username"
          required>

        <input class="bg-zinc-700  p-2 h-10 rounded-md  text-white " type="text" placeholder="email" name="email"
          required>

        <input class="bg-zinc-700 p-2 h-10 rounded-md  text-white " type="text" placeholder="password" name="password"
          required>

        <input class="bg-zinc-700  p-2 h-10 rounded-md  text-white " type="number" placeholder="age" name="age"
          required>

        <input class="bg-blue-600 text-white rounded-md p-2" type="submit" value="Create User">
      </form>


    </div>

  </body>

</html>